body{
    width : 100px;
    height : 500px;
    background-color:aliceblue;
    display: flex;
  
    margin-left: 100px;
}
p{
    display:inner-flex;
    margin: auto 10px;
    font-size:22px;
    color:blue;
    border-radius: 6px;
    border:1px solid lightblue;
    padding:10px;
    border:solid;
    
}